# Compiled Object files
*.slo
*.lo
*.o
*.bin
*.app
/bin/*
.ccache/*

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
lib/*
*.lai
*.la
*.a

# Data file
data/*
*.dat
*.plt
*.lay
*.lpk
*.vtk

# Temp files
*.cpp~
*.hpp~
Makefile~

# Netbeans/Clion project
nbproject/*
cmake-build-debug/*
cmake-build-release/*
.idea/*

# temp files
*.swp
*~
